@keyframes rotateplane {
  0% {
    transform: perspective(120px);
  }
  50% {
    transform: perspective(120px) rotateY(180deg);
  }
  100% {
    transform: perspective(120px) rotateY(180deg) rotateX(180deg);
  }
}

body {
  display: block;
}

.preload-bg {
  align-items: center;
  background-color: rgba(28, 28, 28, 1);
  display: flex;
  inset: 0;
  height: 100%;
  justify-content: center;
  position: absolute;
  transition: opacity 0.3s ease-out;
  z-index: 10;
}

.rotating-plane {
  animation: rotateplane 0.8s infinite cubic-bezier(0, 0.64, 0.38, 0.09);
  box-shadow: 0 20px 40px rgba(25, 30, 48, 0.1);
  background: white;
  height: 60px;
  width: 60px;
}
