.article {
  display: flex;
  flex-direction: column;
  gap: $page-margins;
  margin: auto;
  max-width: 900px;
  padding: $page-margins;
  & span {
    color: $stellar-black50;
  }
  @media screen and (max-width: $md) {
    flex-direction: column;
  }
}

.content {
  display: flex;
  flex-direction: column;
  gap: $page-margins;
  & pre {
    border: 1px solid $stellar-black50;
    border-radius: 4px;
    background-color: $autumn-grey100;
    padding: 10px 20px;
    overflow-y: auto;
  }
  & img {
    height: auto;
    max-width: 100%;
    width: unset;
  }
  & p > code {
    background-color: $autumn-grey100;
    padding: 4px;
    color: red;
  }
  & ul {
    margin-top: -10px;
    overflow-y: auto;
    & li:not(:last-child) {
      margin-bottom: 12px;
    }
  }
}
