// COLORS
$shadow: 0 20px 40px rgba(28, 28, 28, 0.1);

//NEW
$autumn-grey100: rgb(248, 248, 248);
$stellar-black100: rgba(28, 28, 28, 1);
$stellar-black50: rgba(28, 28, 28, 0.5);

//SPACING
$content-width: 1200px;
$page-margins: 20px;

//BREAKPOINTS
$xxl: 1440px;
$xl: 1200px;
$lg: 960px;
$md: 760px;
$sm: 580px;
